{% extends "base.html" %}

{% block title %}Добро пожаловать!{% endblock %}

{% block content %}
<h4>Создать аккаунт</h4>
<div class="form-floating mb-3">
    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
    <label for="floatingInput">Почта</label>
</div>
<div class="form-floating mb-3">
    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
    <label for="floatingPassword">Пароль</label>
</div>
<div class="form-floating mb-3">
    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
    <label for="floatingPassword">Повторите пароль</label>
</div>
<button class="btn btn-primary" type="submit">Продолжить</button>
{% endblock %}