{% extends "base.html" %}

{% block title %}Добро пожаловать!{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-primary" role="alert">
      {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}
<h4>Создать аккаунт</h4>
<form method="POST" action="{{ url_for('so_registration')  }}">
    {{form.hidden_tag()}}
    <div class="form-floating mb-3" method="POST">
        {{ form.email(class="form-control form-control-lg", id="floatingInput", placeholder="") }}
        <label for="floatingInput">email</label>
    </div>
    <div class="form-floating mb-3">
        {{ form.password(class="form-control form-control-lg", id="floatingPassword", placeholder="") }}
        <label for="floatingPassword">Пароль</label>
    </div>
    <div class="form-floating mb-3">
        {{ form.confirm_password(class="form-control form-control-lg", id="floatingPassword", placeholder="") }}
        <label for="floatingPassword">Повторите пароль</label>
    </div>
    {{form.submit(class="btn btn-primary", type="submit")}}
</form>
{% endblock %}