{% extends "base.html" %}

{% block title %}Добро пожаловать!{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert alert-primary" role="alert">
    {{ messages[0] }}
</div>
{% endif %}
{% endwith %}
<h4>Вход</h4>
<form method="POST" action="{{ url_for('start_page')  }}">
    <div class="form-floating mb-3" method="POST">
        <input name="email" type="email" class="form-control form-control-lg" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Почта</label>
    </div>
    <div class="form-floating mb-3">
        <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Пароль</label>
    </div>
    <button class="btn btn-primary" type="submit">Войти</button>
    <h1></h1>
</form>
<a class="btn btn-primary" href="{{ url_for('registration')  }}" role="button">Создать аккаунт</a>
{% endblock %}