{% extends "base.html" %}

{% block title %}Добро пожаловать!{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert alert-primary" role="alert">
    {{ messages[0] }}
</div>
{% endif %}
{% endwith %}
<h4>Вход</h4>
<form method="POST" action="{{ url_for('start_page')  }}">
    {{ form.hidden_tag() }}
    <div class="form-floating mb-3" method="POST">
        {{ form.email(class="form-control form-control-lg", id="floatingInput", placeholder="") }}
        <label for="floatingInput">email</label>
    </div>
    <div class="form-floating mb-3">
        {{ form.password(class="form-control form-control-lg", id="floatingPassword", placeholder="") }}
        <label for="floatingPassword">Пароль</label>
    </div>
    {{form.submit(class="btn btn-primary", type="submit")}}
    <h1></h1>
</form>
<a class="btn btn-primary" href="{{ url_for('registration', form=form)  }}" role="button">Создать аккаунт</a>
<a class="btn btn-primary" href="{{ url_for('so_registration')  }}" role="button">Создать аккаунт для спортивного объекта</a>
{% endblock %}