{% extends "user_page_base.html" %}

{% block title %}Добро пожаловать!{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert alert-primary" role="alert">
    {{ messages[0] }}
</div>
{% endif %}
{% endwith %}
<div class="container">
  <div class="row">
    <p class="fs-3">
      {% if user.name %}
        {{ user.name }} 
      {% endif %}
      {% if user.last_name %}
        {{ user.last_name }}
      {% endif %}
      </p>
  </div>
  {% if user.date_of_birth %}
  <div class="row">
    <div class="col-6">
      <p class="fs-6">Дата рождения</p>
    </div>
    <div class="col-5">
      <p class="fs-6">{{ user.date_of_birth.strftime('%d %B %Y') }}</p>
    </div>
  </div>
  {% endif %}
  {% if user.country %}
  <div class="row">
    <div class="col-6">
      <p class="fs-6">Страна</p>
    </div>
    <div class="col-5">
      <p class="fs-6">{{ user.country }}</p>
    </div>
  </div>
  {% endif %}
  {% if user.city %}
  <div class="row">
    <div class="col-6">
      <p class="fs-6">Город</p>
    </div>
    <div class="col-5">
      <p class="fs-6">{{ user.city }}</p>
    </div>
  </div>
  {% endif %}
  {% if user.id != current_user.id and not person_in_friends %}
    <div class="row">
      <form method="POST">
      <input class="btn btn-primary" role="button" id="1" type="submit" name="add_friend_button" value="Добавить в друзья">
      </form>
    </div>
  {% endif %}
</div>
{% endblock %}